<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeePass.Path" value=""/>
    <add key="KeePass.Password" value=""/>
    <add key="KeePass.RaiffeisenUuid" value=""/>
    <add key="KeePass.DkbUuid" value=""/>
    <add key="KeePass.Number26Uuid" value=""/>
    <add key="KeePass.RciUuid" value=""/>
    <add key="KeePass.SantanderUuid" value=""/>
    <add key="KeePass.PayPalUuid" value=""/>
    <add key="KeePass.FlatexUuid" value=""/>
    <add key="Configuration.Path" value=""/>
    <add key="Parser.RaiffeisenPath" value=""/>
    <add key="Parser.Number26Path" value=""/>
    <add key="Parser.PayPalPath" value=""/>
    <add key="Parser.DkbGiroPath" value=""/>
    <add key="Parser.DkbCreditPath" value=""/>
    <add key="Parser.RciPath" value=""/>
    <add key="Parser.FlatexGiroPath" value=""/>
    <add key="Parser.FlatexDepotPath" value=""/>
    <add key="Database.Path" value=""/>
    <add key="DownloadHandler.Dkb.Path" value=""/>
    <add key="DownloadHandler.Dkb.CreditAccountNumber" value=""/>
    <add key="DownloadHandler.Dkb.CreditBalance" value=""/>
    <add key="DownloadHandler.Dkb.CreditCount" value=""/>
    <add key="DownloadHandler.Dkb.GiroIban" value=""/>
    <add key="DownloadHandler.Dkb.GiroBalance" value=""/>
    <add key="DownloadHandler.Dkb.GiroCount" value=""/>
    <add key="DownloadHandler.Flatex.Path" value=""/>
    <add key="DownloadHandler.Flatex.GiroIban" value=""/>
    <add key="DownloadHandler.Flatex.GiroBalance" value=""/>
    <add key="DownloadHandler.Flatex.GiroCount" value=""/>
    <add key="DownloadHandler.Flatex.PortfolioNumber" value=""/>
    <add key="DownloadHandler.Flatex.PortfolioCount" value=""/>
    <add key="DownloadHandler.Number26.Path" value=""/>
    <add key="DownloadHandler.Number26.Iban" value=""/>
    <add key="DownloadHandler.Number26.Balance" value=""/>
    <add key="DownloadHandler.Number26.Count" value=""/>
    <add key="DownloadHandler.PayPal.Path" value=""/>
    <add key="DownloadHandler.PayPal.Balance" value=""/>
    <add key="DownloadHandler.PayPal.Count" value=""/>
    <add key="DownloadHandler.Raiffeisen.Path" value=""/>
    <add key="DownloadHandler.Raiffeisen.GiroIban" value=""/>
    <add key="DownloadHandler.Raiffeisen.GiroBalance" value=""/>
    <add key="DownloadHandler.Raiffeisen.GiroCount" value=""/>
    <add key="DownloadHandler.Rci.Path" value=""/>
    <add key="DownloadHandler.Rci.Iban" value=""/>
    <add key="DownloadHandler.Rci.Balance" value=""/>
    <add key="DownloadHandler.Rci.Count" value=""/>
  </appSettings>
</configuration>