<h1>Download Handler</h1>
<p>This component is a proof of concept of a working Angular 2 UI hosted with Kestrel.</p>
<p *ngIf="!handlers"><em>Loading...</em></p>
<form>
    <div class="form-group">
        <label for="password">KeePass password</label>
        <input type="password" class="form-control" id="password" required>
    </div>
    <table class="table table-hover" *ngIf="handlers">
        <thead>
            <tr>
                <th><input type="checkbox" data-md-icheck on-change="checkAllOnChange($event)"></th>
                <th>Name</th>
                <th>Url</th>
                <th>Path</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let handler of handlers" [class.active]="handler.selected">
                <td><input type="checkbox" name="downloadhandler" [id]="handler.key" [(ngModel)]="handler.selected"></td>
                <td>{{ handler.displayName }}</td>
                <td>{{ handler.url }}</td>
                <td>{{ handler.path }}</td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" (click)="startDownload()">Start Download</button>
</form>

