<h2>Database Configuration</h2>
<configuration-nav></configuration-nav>
<loading *ngIf="!model"></loading>
<section *ngIf="model">
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
        <div class="form-group">
            <label for="databasePath">Database Path</label>
            <input type="text" class="form-control" name="databasePath" id="databasePath" [(ngModel)]="model.databasePath" [readonly]="!edit" required />
        </div>
        <button type="button" class="btn btn-primary" [disabled]="edit" (click)="toggleEdit()"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Edit</span></button>
        <button type="submit" class="btn btn-success" [disabled]="!edit || !editForm.form.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span>Save</span></button>
        <button type="button" class="btn btn-danger" [disabled]="!edit" (click)="onDiscard()"><i class="fa fa-ban" aria-hidden="true"></i> <span>Discard</span></button>
    </form>
</section>