<h2>Download & Parse</h2>
<p *ngIf="!errorMessage">{{errorMessage}}</p>
<p *ngIf="!handlers && !errorMessage"><em>Loading...</em></p>
<form *ngIf="handlers" (ngSubmit)="startDownload()">
    <div class="form-group">
        <label for="password">KeePass password</label>
        <input type="password" id="password"class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
    </div>
    <table class="table table-hover" *ngIf="handlers">
        <thead>
            <tr>
                <th><input type="checkbox" on-change="checkAllOnChange($event)"></th>
                <th>Name</th>
                <th>Url</th>
                <th>Path</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let handler of handlers" [class.active]="handler.selected">
                <td><input type="checkbox"  [id]="handler.key" [(ngModel)]="handler.selected" [ngModelOptions]="{standalone: true}"></td>
                <td>{{ handler.displayName }}</td>
                <td>{{ handler.url }}</td>
                <td>{{ handler.path }}</td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Start Download</button>
</form>

