<div class="main-nav">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']" i18n="Application Name">Bank Manager</a>
        </div>
        <div class="clearfix"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class="glyphicon glyphicon-home"></span>
                        <span i18n="Menu Home">Home</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/configuration']">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span i18n="Menu Configuration">Configuration</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/logs']">
                        <span class="glyphicon glyphicon-console"></span>
                        <span i18n="Menu Logs">Logs</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/about']">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span i18n="Menu About">About</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
