<div class="main-nav">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']" i18n="Application Name"><span>Bank Manager</span></a>
        </div>
        <div class="clearfix"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/accounts']">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span i18n="Menu Home">Home</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/capitaldevelopment']">
                        <i class="fa fa-area-chart" aria-hidden="true"></i>
                        <span>Capital development</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/portfoliogroups']">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        <span>Portfolio Groups</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/download']">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        <span i18n="Menu DownloadHandler">Download & Parse</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/import']">
                        <i class="fa fa-inbox" aria-hidden="true"></i>
                        <span i18n="Menu Import">Import</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/export']">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <span>Export</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/configuration']">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <span i18n="Menu Configuration">Configuration</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/log']">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span i18n="Menu Logs">Logs</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/about']">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span i18n="Menu About">About</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
