<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span>{{account.bankName}}</span> - <span>{{account.accountName}}</span> - <span *ngIf="account.iban">{{account.iban}}</span><span *ngIf="account.creditCardNumber">{{account.creditCardNumber}}</span>
            <span *ngIf="account.portfolioNumber">{{account.portfolioNumber}}</span>
            <span *ngIf="account.accountNumber && !account.iban && !creditCardNumber && !account.portfolioNumber">{{account.accountNumber}}</span>
        </h4>
    </div>
    <div class="panel-body"></div>
    <table class="table">
        <thead></thead>
        <tbody>
            <tr *ngFor="let trans of bankTransactions">
                <td>{{trans.availabilityDate | date}}</td>
                <td>{{trans.amount | currency:trans.currencyIso:true}}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <button class="btn btn-default" (click)="loadTransactions()">Load transactions</button>
    </div>
</div>