<h2>Accounts</h2>
<section *ngIf="bankAccounts?.length>0">
    <h3>Bank accounts</h3>
    <div class="list-group">
        <a class="list-group-item" *ngFor="let account of bankAccounts" [routerLink]="['/bankaccount',account.id]"><account-title [bankAccount]="account"></account-title></a>
    </div>
</section>
<section *ngIf="creditCardAccounts?.length>0">
    <h3>Credit cards</h3>
    <div class="list-group">
        <a class="list-group-item" *ngFor="let account of creditCardAccounts" [routerLink]="['/creditcard',account.id]"><account-title [creditCardAccount]="account"></account-title></a>
    </div>
</section>
<section *ngIf="portfolioAccounts?.length>0">
    <h3>Portfolios</h3>
    <div class="list-group">
        <a class="list-group-item" *ngFor="let account of portfolioAccounts" [routerLink]="['/portfolio',account.id]"><account-title [portfolio]="account"></account-title></a>
    </div>
</section>