<h2>Accounts</h2>
<section *ngIf="bankAccounts?.length>0">
    <h3>Bank accounts</h3>
    <bankaccount-detail *ngFor="let account of bankAccounts" [account]="account"></bankaccount-detail>
</section>
<section *ngIf="creditCardAccounts?.length>0">
    <h3>Credit cards</h3>
    <creditcard-detail *ngFor="let account of creditCardAccounts" [account]="account"></creditcard-detail>
    </section>
<section *ngIf="portfolioAccounts?.length>0">
    <h3>Portfolios</h3>
    <portfolio-detail *ngFor="let account of portfolioAccounts" [account]="account"></portfolio-detail>
</section>