<h2>Bank account</h2>
<loading *ngIf="!account || !transactions"></loading>
<section *ngIf="account && transactions">
    <h3 *ngIf="account">
        <account-title [bankAccount]="account"></account-title>
    </h3>
    <p>{{transactions.length}} Transactions</p>
    <p class="lead">Balance per {{lastTransaction | date:"yyyy-MM-dd"}}: <strong>{{transactionSum | currency:currency:true}}</strong></p>
    <table *ngIf="transactions" class="table table-hover">
        <thead>
            <tr>
                <th>Valuta</th>
                <th>Amount</th>
                <th>Text</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{lastTransaction | date:"yyyy-MM-dd"}}</th>
                <th class="text-right">{{transactionSum | currency:currency:true}}</th>
                <th>{{transactions.length}} Transactions</th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngFor="let trans of (transactions)" [class.success]="trans.amount >= 0">
                <td class="col-sm-1">{{trans.availabilityDate | date:"yyyy-MM-dd"}}</td>
                <td class="col-sm-1 text-right">{{trans.amount | currency:currency:true}}</td>
                <td class="col-sm-10">{{trans.text}}</td>
            </tr>
        </tbody>
    </table>
</section>