<h2>All accounts</h2>
<loading *ngIf="!page || !transactions"></loading>
<section *ngIf="page && transactions">
    <pagination [itemCount]="transactions.length" [pageSize]="pageSize" [currentPage]="page" [link]="'/transactions'"></pagination>
    <table *ngIf="transactions" class="table table-hover">
        <thead>
            <tr>
                <th>Valuta</th>
                <th>Amount</th>
                <th>Cumulative</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trans of (transactions | slice:(page-1)*pageSize:page*pageSize)" [class.success]="trans.amount >= 0">
            <td class="col-sm-1">{{trans.availabilityDate | date:"yyyy-MM-dd"}}</td>
            <td class="col-sm-1 text-right">{{trans.amount | currency:currency}}</td>
            <td class="col-sm-1 text-right">{{trans.cumulative | currency:currency}}</td>
            <td class="col-sm-10">{{trans.text}}</td>
        </tr>
        </tbody>
    </table>
</section>