<h2>Portfolio</h2>
<loading *ngIf="!account || !positions"></loading>
<section *ngIf="account && positions">
    <h3 *ngIf="account">
        <account-title [portfolio]="account"></account-title>
    </h3>
    <p>{{positions.length}} Positions</p>
    <p class="lead">Portfolio value per {{dateTime | date:"yyyy-MM-dd HH:mm:ss"}}: <strong>{{portfolioSumCurrent | currency:currency}}</strong></p>
    <p>Increase of {{(portfolioSumCurrent/portfolioSumOriginal-1) | percent}} from {{portfolioSumOriginal | currency:currency}}</p>
    <portfolioposition-list *ngIf="positions" [positions]="positions" [canDelete]="true"></portfolioposition-list>
</section>