<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a [routerLink]="['/portfolio',account.id]">
                <span>{{account.bankName}}</span><span> - {{account.accountName}}</span><span *ngIf="account.iban"> - {{account.iban}}</span><span *ngIf="account.accountNumber && !account.iban"> - {{account.accountNumber}}</span>
            </a>
        </h4>
    </div>
    <table class="table table-hover" *ngIf="positions">
        <thead>
            <tr>
                <th>Date</th>
                <th>ISIN</th>
                <th>Name</th>
                <th>Current</th>
                <th>Percent</th>
                <th>Original</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{dateTime | date:"yyyy-MM-dd HH:mm:ss"}}</th>
                <th>{{positions.length}} Positions</th>
                <th></th>
                <th class="text-right">{{portfolioSumCurrent | currency:currency:true}}</th>
                <td class="text-right">{{(portfolioSumCurrent/portfolioSumOriginal-1) | percent}}</td>
                <th class="text-right">{{portfolioSumOriginal | currency:currency:true}}</th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngFor="let trans of positions">
                <td class="col-sm-2">{{trans.dateTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="col-sm-1">{{trans.isin}}</td>
                <td class="col-sm-2">{{trans.name}}</td>
                <td class="col-sm-1 text-right">{{trans.currentValue*trans.amount | currency:currency:true}}</td>
                <td class="col-sm-1 text-right">{{(trans.currentValue/trans.originalValue-1) | percent}}</td>
                <td class="col-sm-1 text-right">{{trans.originalValue*trans.amount | currency:currency:true}}</td>
            </tr>
        </tbody>
    </table>
</div>